.TodoForm {
  display: flex;
  width: 800px;
  justify-content: space-between;
  margin: 0 auto;
  align-items: center;
}

.TodoForm>form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
  gap: 10px;
}

.inputForm {
  background: #FAFAF9;
  padding: 0px;
  margin-top: 28px;
  width: 600px;
  min-height: 36px;
  font-size: 16px;
  font-weight: 400;
  resize: none;
  border: none;
  outline: none;
  word-break: break-word;
}

.createBtn {
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  background: #075985;
  color: #ffffff;
  width: 94px;
  height: 36px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  border: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
}

.noOutline {
  margin: 16px;
  outline: none;
  border: none;
  font-weight: 600;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background: none;
}

.cancel {
  color: #075985;
}