.NoTodo {
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: 112px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
}